.mainContainer {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.image {
  object-fit: cover;
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  color: #999;
}
